/* RESET DEFAULT STYLES */
html,body { width:100%; height:100%; }
body      { padding:0; margin:0; font:12px Tahoma, sans-serif; background: url(../images/bg.png) repeat-x top #9CC6E7; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea { font:12px Tahoma, sans-serif; vertical-align:middle; }
textarea { vertical-align:top; }
:focus   { outline:none; }
input[type=submit] { cursor:pointer; }
img, fieldset { border:0; }
table    { border-collapse:collapse; border-spacing:0; }
a:link, a:visited { font:12px Tahoma, sans-serif; color:#000; text-decoration:none; }
a:hover  { text-decoration:none; }

/* WRAPPER */
.wrapper { width:1000px; margin:0 auto; background:#C7DEF1;}
/* HEADER */
.header { height:173px; background:url(../images/head.jpg) center no-repeat; margin-bottom:20px;}
	.regist_form { width:230px; float:right; padding:10px 15px 0 0}
		.first li { text-align:right; margin-bottom:5px;}
		.first input { width:140px; padding:0 5px}
	.buttons { margin-bottom:10px; height:30px;}
	.buttons input { width:50px;  background: #FFF; border:1px solid #000; border-radius:3px; height:21px ; margin-top:0px;}
	.buttons a { display: inline-block; background: #FFF; width:75px; border:1px solid #000; border-radius:3px;height:15px; padding:2px 5px;}
	.buttons p { display:inline-block; margin-right:5px;}
	.buttons a:hover, .buttons input:hover { background:#000; color:#FFF}
/* CONTENT */
.content { overflow:hidden; margin-bottom:20px;}
.content li { border:1px solid #9CC6E7; padding:5px 5px; border-radius:5px; box-shadow:0 0 3px #000;}
	.new_post { text-align:center; margin-bottom:10px;} 
	.new_post textarea { width:960px; resize:none; margin-bottom:10px; padding:5px 10px; font-size:14px; height:100px;}
	.new_post input { margin-left:840px}
	.old_post { display:block; padding:5px 10px; }
	.old_post li {text-align:justify; overflow:hidden;}
		.comentu { width:800px; margin-left:100px; margin-top:10px;}
		.comentu li { margin-bottom:10px;}
		.name { font-size:14px; font-weight:bold;}
		.sam_coment { padding-left:10px; text-align:justify;}
	.send_coment { width:800px; margin-left:100px; margin-top:20px; overflow:hidden;}
	.send_coment textarea { resize:none; width:780px; height:100px; padding:5px 10px; margin-bottom:10px;}
	.send_coment input { float:right;}
	.registration { width:610px; text-align:right;}
	.button_reg { margin-right:35px}
	.registration li { border:none !important; box-shadow:none !important;}
	.back { display:block; float:right;  margin:10px 0; height:15px; border:1px solid #000; background:#FFF; padding:5px 5px; border-radius:3px}
	.back:hover { color:#fff; background:#000;}
	.none { float:none; margin:0;}

/* FOOTER */
.footer { background:url(../images/footer.jpg) no-repeat center; height:41px; padding-top:250px}
	.f_f {font-size:18px; color:#F5ADE7; font-weight:bold; margin:0 40px;}
	.f_l { width:200px; float:left; display:block;  }
	.f_r { width:200px; float:right; display:block; text-align:right;}
